@import "./../../../assets/styles/variables";
:host {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0;
  max-width: 350px;
  min-width: 300px;
}

div#productCardWrapper {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 250px;
  gap: 10px;
  flex-direction: column;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:not(.outOfStock):hover {
    scale: 1.05;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  }
}

.productImage {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.productFooter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color);
}

button.addToCartBtn {
  padding: 10px 0;
  border: none;
  background-color: var(--accent-color);
  border-radius: 5px;
  font-weight: bold;
  color: var(--color_contrast);
  cursor: pointer;
}
.outOfStock {
  position: relative;
  overflow: hidden;
  cursor: not-allowed;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    cursor: not-allowed;
  }
  .addToCartBtn {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #ccc;
  }
}
