$color: #fff;
$background-color: #ccc;
$bg-color_footer: #f4f4f4;

$color_contrast: #000;
$background-color_contrast: #333;
$bg-color_footer_contrest: #2a2a2a;

// Header Styles

nav {
  background-color: $background-color;
  color: $color_contrast;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 10px;
    .logo {
      background-image: url("./../assets/kovai-logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 55px;
      height: 45px;
    }
    .shopName {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
  a {
    text-decoration: none;
    color: $color_contrast;
    margin: 0 15px;
    font-size: 18px;
    display: block;
    padding: 16px 8px;
    &.active {
      text-decoration: underline;
    }
  }
}
#menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  padding: 9px 8px;
  position: absolute;
  left: 10px;

  .bar {
    width: 30px;
    height: 3px;
    background-color: $background-color_contrast;
    margin: 5px 0;
    transition: 0.5s;
  }

  &.show {
    .bar {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -8px);
      }
    }
  }
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    // padding: 16px 8px;
    &:hover {
      background-color: $background-color_contrast;
      a {
        color: $color;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  nav {
    justify-content: center;
    a {
      display: block;
      padding: 8px;
    }
  }
  .nav-list {
    flex-direction: column;
    width: 320px;
    position: absolute;
    top: 0;
    background-color: $background-color;
    padding-top: 65px;
    left: -200%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    transition: left 0.5s ease-in-out;
    li {
      padding: 8px;
    }
    &.show {
      left: 0;
    }
  }
  #menu-icon {
    display: block;
  }
}

// Footer Styles

footer {
  background-color: $bg-color_footer_contrest;
  color: $color;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-section {
  margin: 10px;
}
a {
  color: $color;
}
