<div id="app">
  <nav>
    <!-- hamburgerIcon -->
    <div id="menu-icon" class="icon-container" (click)="toggleIcon()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <!-- header Title -->
    <div class="header" routerLink="/home">
      <div class="logo"></div>
      <span class="shopName">{{title}}</span>
    </div>
    <!-- navigation list -->
    <ul class="nav-list">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
    </ul>
    <div class="spacer"></div>
    <div class="cartIcon">
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
      <div class="badge">{{cartCount}}</div>
    </div>
    <div class="spacer"></div>
    <!-- theme toggle section -->
    <div class="theme" (click)="toggleTheme()" #themeEleRef>
      <span class="material-symbols-outlined lightMode">
        light_mode
      </span>
      <span class="material-symbols-outlined darkMode">
        dark_mode
      </span>
    </div>
  </nav>
  <main>
    <!-- router contents -->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="footer-content">
      <div class="footer-section privacy-policy">
        <a routerLink="/privacy-policy">Privacy Policy</a>
      </div>

      <div class="footer-section terms-of-service">
        <a routerLink="/terms-of-service">Terms of Service</a>
      </div>

      <div class="footer-section faq">
        <a routerLink="/faq">FAQ</a>
      </div>
    </div>
    <div class="footer-section copyright">
      <h4>&copy; 2023 ShopEase. All rights reserved.</h4>
    </div>
  </footer>
</div>