<div id="app">
  <nav>
    <div id="menu-icon" class="icon-container" (click)="toggleIcon()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="header">
      <div class="logo"></div>
      <span class="shopName">{{title}}</span>
    </div>
    <ul class="nav-list">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="footer-content">
      <div class="footer-section privacy-policy">
        <a href="/privacy-policy">Privacy Policy</a>
      </div>

      <div class="footer-section terms-of-service">
        <a href="/terms-of-service">Terms of Service</a>
      </div>

      <div class="footer-section faq">
        <a href="/faq">FAQ</a>
      </div>
    </div>
    <div class="footer-section copyright">
      <h4>&copy; 2023 ShopEase. All rights reserved.</h4>
    </div>
  </footer>
</div>