/* You can add global styles to this file, and also import other style files */
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p.emptyState {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 2rem;
  padding: 20px;
  width: 80%;
  text-align: center;
}
