// Footer Styles

footer {
  background-color: $bg-color_footer;
  color: $color;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-section {
  margin: 10px;
}
a {
  color: $color;
}
