// Header Styles

nav {
  background-color: var(--primary-color);
  color: var(--color_contrast);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0 10px;
    cursor: pointer;
    flex-grow: 1;
    .logo {
      background-image: url("./../images/shopEase_logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 55px;
      height: 45px;
    }
    .shopName {
      font-size: 2rem;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
  a {
    text-decoration: none;
    color: var(--color_contrast);
    margin: 0 5px;
    font-size: 18px;
    display: block;
    padding: 16px 8px;
    &.active {
      text-decoration: underline;
    }
  }
  .spacer {
    width: 0;
    height: 80%;
    padding: 10px 20px;
    padding-right: 50px;
  }
  .theme {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 20px;
    padding: 10px;
    overflow: hidden;
    width: 40px;
    height: 35px;
    cursor: pointer;
    > span {
      position: absolute;
      transition: left 0.35s;
      top: 5px;
    }
    span.darkMode {
      left: 100%;
    }
    span.lightMode {
      left: 0;
    }
    &.dark {
      span.lightMode {
        left: -100%;
      }
      span.darkMode {
        left: 0;
      }
    }
  }
}
#menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 5;
  padding: 9px 8px;
  position: absolute;
  left: 10px;
  top: 2px;

  .bar {
    width: 30px;
    height: 3px;
    background-color: var(--color_contrast);
    margin: 5px 0;
    transition: 0.5s;
  }

  &.show {
    .bar {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-4px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -8px);
      }
    }
  }
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  li {
    cursor: pointer;
    // padding: 16px 8px;
    &:hover {
      background-color: var(--background-color_contrast);
      a {
        color: var(--color_contrast);
      }
    }
  }
}

.spacer {
  padding: 30px;
  width: 0;
  height: 100%;
  border-left: 2px solid;
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: center;
    .header {
      flex-grow: 0;
    }
    a {
      display: block;
      padding: 8px;
    }
  }
  .spacer {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    width: 320px;
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    padding-top: 65px;
    left: -200%;
    height: 100%;
    box-sizing: border-box;
    z-index: 4;
    transition: left 0.5s ease-in-out;
    box-shadow: 0px 0px 5px 1px #333;
    li {
      padding: 8px;
    }
    &.show {
      left: 0;
    }
  }
  #menu-icon {
    display: block;
  }
}
