$background-color: #f0f0f0;
$color_contrast: #000;
$bg-color_footer: #f4f4f4;

$background-color_contrast: #333;
$color: #fff;
$bg-color_footer_contrest: #2a2a2a;

$primary-color: #527853;
$accent-color: #ee7214;
