$primary-color: #527853;
$accent-color: #ee7214;

$background-color: #f0f0f0;
$color: #000;
$color_contrast: #fff;
$bg-color_footer: #d4d4d4;

// .darkMode {
// $background-color: #333;
// $color: #fff;
// $color_contrast: #000;
// $bg-color_footer: #585858;
// }
